body {
	/*background: #607D8B;*/
	background: url(../img/login1.jpg) fixed;
	-webkit-font-smoothing: antialiased;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	overflow: hidden;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

form {
	overflow: visible;
	width: 310px;
	margin: 20em auto;
	padding: 3em 2em 2em 2em;
	background: #fafafa;
	border: 1px solid #ebebeb;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.box_container { 
	position: relative;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.text_gray_color {
	color: #9E9E9E;
}

.signup_container {
	-webkit-font-smoothing: antialiased;
	position: relative;
	text-align: center;
	transition: transform 0.2s;
}

.signup_container:hover {
	transform: scale(1.1, 1.1);
}

.buttons {
	position: relative;
	bottom: -55px;
	z-index: 1;
	text-align: center;
}

.submit_button {
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	transition: transform 0.2s;
}

.submit_button:hover {
	transform: scale(1.2, 1.2);
}

.add_button {
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.spacer{
	width:190px;
	height:auto;
	display:inline-block;
}

input:focus { outline: none; }
