<!DOCTYPE html>
<html>
<head>
	<%-title%>

	<!-- Viewport mobile tag for sensible mobile support -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!--ANGULAR -->
	<script type='text/javascript' src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

	<!-- MDL Library -->
	<link rel="stylesheet" href="/3rd/mdl/material.min.css">
	<script src="/3rd/mdl/material.min.js"></script>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

	<!-- MDI Library -->
	<link href="/3rd/mdi/css/materialdesignicons.min.css" media="all" rel="stylesheet" type="text/css"/>

	<!--My CSS -->
	<link rel="stylesheet" href="/css/layout.css">

	<!-- My JS -->
	<script src="/js/layout.js"></script>

	<!--STYLES-->
	
	<!--STYLES END-->	
	
</head>


<body ng-app="betti-app" ng-controller="SideBarController">
	<!-- HEADER AND SIDEBAR BEGIN -->
	<div class="main-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
		<header class="main-header mdl-layout__header mdl-color-text--grey-600" ng-class="color_mdl_class_page">
			<div class="mdl-layout__header-row">
				<div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
					<label class="mdl-button mdl-js-button mdl-button--icon" for="search">
						<i class="material-icons mdl-color-text--white">search</i>
					</label>
					<div class="mdl-textfield__expandable-holder">
						<input class="mdl-textfield__input mdl-color-text--white" style="font-size: 150%" type="text" id="search">
					</div>
				</div>
				<div class="mdl-layout-spacer"></div>
				<button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
					<i class="material-icons mdl-color-text--white">exit_to_app</i>
				</button>
			</div>
		</header>
		<div class="sidebar-drawer mdl-layout__drawer mdl-color--blue-grey-400 mdl-color-text--white">
			<header class="sidebar-drawer-header">
				<img ng-src="{{user_avatar}}" class="sidebar-avatar">
				<div class="sidebar-name-container">
					<span>{{user_name}}</span>
					<div class="mdl-layout-spacer"></div>
				</div>
			</header>
			<nav class="sidebar-navigation mdl-navigation mdl-color--white">
				<a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons">sentiment_satisfied</i>Profile</a>
				<a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons">forum</i>Updates</a>
				<a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons">people_outline</i>Friends</a>
				<a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons">bubble_chart</i>Groups</a>

				<div class="mdl-layout-spacer"></div>
				<a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons">settings</i><span >Settings</span></a>
			</nav>
		</div>
		<!-- HEADER AND SIDEBAR END -->
		<%- body %>
	</div>
</body>

<!--SCRIPTS-->
<script src="/js/dependencies/sails.io.js"></script>
<script src="/js/style.js"></script>
<!--SCRIPTS END-->
</html>
